body {
  background: hsla(210, 20%, 90%, 1);
  padding: 2em 0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

h2, h5 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  border: 0px solid #90bade;
}

.Header {
 
}






